.contact-box h4{
    font-size: 32px;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    margin-bottom: -30px;
}

.contact-box h2{
    font-size: 56px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.contact-box span{
    font-size: 24px;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
}

.contact-boxes{
    margin-top: 25px;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
}

.border{
    width: 170px;
    height: 1px;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
}

.contact-grid{
    display: flex;
    gap: 12px;
}

.contact-grid span{
    font-size: 25px;
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details{
    width: 135px;
    height: 65px;
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-details span:nth-child(1){
    font-size: 14px;
    font-weight: 600;
    color: rgba(6, 31, 74, 1);
    margin-top: 7px;
}

.contact-details span:nth-child(2){
    font-size: 14px;
    font-weight: 600;
    color: rgba(6, 31, 74, 1);
    margin-top: 7px;
}